
{% extends "base.html" %}

{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}
<div class="center-block">

    <div><form method="POST">
        <div>
            <label for="campus_id_inp">campus ID</label>
            <input type="text", id="campus_id_inp", name="Campus_id">
        </div>
        <div>
            <label for="campus_name_inp">campus name</label>
            <input type="text", id="campus_name_inp", name="Campus_name">
        </div>
        <div>
            <label for="campus_addr_inp">campus address</label>
            <input type="text", id="campus_addr_inp", name="Campus_address">
        </div>
        <div>
            <input type="submit", value="插入">
            <input type="submit", value="Delete">
            <input type="submit", value="Select">
            <input type="submit", value="Update">
            <input type="reset", value="Reset">
        </div>
    </form></div>
        <br>
        <div class="card border-primary mb-3" style="max-width: 48rem;">
            <div class="card">
            <div >
                <div class="card-header"> 校区信息 </div>
                <div class="card-body text-primary">
                    {% for campu in campus %}
                    <p class="card-text"> {{ campu }} <button type="button" class="btn btn-primary" id="{{campu[0]}}">删除</button></p>
                    {% endfor %}
                </div>
                </div>
            </div>
            </div>

    <a type="button" class="btn btn-primary " href="{{ url_for('index') }}">换一批</a>
    <a type="button" class="btn btn-primary" href="{{ url_for('index') }}">返回主页</a>
	<br>
    <p style="color:white;">本次活动对于愿望池提供点赞功能，对于点赞高的愿望，在男生愿望池中会有更高概率出现，如果最终男生没有成功完成，那么会由项目组抽取部分点赞代表性高的愿望为其完成</p>
	<script src="{{ url_for('static', filename='wishpool.js') }}"></script>
</div>
{% endblock %}
