{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block headInsert %}
<style>
body{background:url({{ url_for('static', filename='img/wishpool_wishAchieve.jpg') }}) top left;background-size:cover;}

</style>
{% endblock %}

{% block content %}
<h1 style='color:green'>愿望实现活动手册 (常见问题解答)</h1>
<h3 style='color:green'>愿望实现窗口</h3>
<ol start='' >
	<li style='color:green'>
		<p><strong>Q：女生如何许愿？</p>
		<p><strong>A：直接在许愿内容文本框中写出自己的愿望，点击许愿后即完成许愿</p>
	</li>
	<li style='color:green'>
		<p><strong>Q：女生可以许多个愿望吗？</p>
		<p><strong>A：不可以，但是考虑到女生许愿后，有较长时间为被人抽取的可能，女生可以随时修改自己的愿望</p>
	</li>
	<li style='color:green'>
		<p><strong>Q：女生的愿望被抽取后会有提示吗？</p>
		<p><strong>A：会有提示，系统会交换两人的邮箱</strong></p>
	</li>
	<li style='color:green'>
		<p><strong>Q：男生如何抽取愿望？</p>
		<p><strong>A：界面中一次会显示 5 个愿望，男生直接选择抽取第几个即可完成抽取</p>
	</li>
	<li style='color:green'>
		<p><strong>Q：涉及到需要与女生线下接触才能完成的愿望，如何获得女生的联系方式？</p>
		<p><strong>A：抽取愿望后即可获得对方联系方式</p>
	</li>
	<li style='color:green'>
		<p><strong>Q：愿望实现完成的标志？</strong></p>
		<p><strong>A： 男生帮助女生完成愿望后，点击完成愿望即可</strong></p>
	</li>
	<li style='color:green'>
		<p><strong>Q：为什么一次只能看到 5 个愿望？</p>
		<p><strong>A：为了提高女生愿望的实现率，避免男生在所有愿望中反复挑拣，所以男生界面一次只能看到五位女生的愿望</p>
	</li>
	<li style='color:green'>
		<p><strong>Q：如何刷新愿望？</strong></p>
		<p><strong>A：系统每隔 4 小时会自动刷新一次愿望，每个男生自身每 4 小时有一次刷新愿望的机会</strong></p>
	</li>
    <li style='color:green'>
        <p><strong>Q：女生实现愿望后，如何表达自己的谢意呢？</p>
        <p><strong>A：除了通过联系对方表示感谢外，还可以送自己曾经的物品作为谢礼给他哦~可以是自己曾经读过的书，桌上的摆件，喜欢的书签或钥匙扣，常用的钢笔，爱吃的零食......</p>
    </li>
    <li style='color:green'>
        <p><strong>Q：男生实现愿望后，会有什么小惊喜吗？</p>
        <p><strong>A：除了一张号码券和她的满腔感谢外，可能还有她送上的谢礼一份哦~</p>
    </li>

</ol>
        <a type="button" class="btn btn-primary" href="{{ url_for('girl') }}">返回幸运开奖</a>
{% endblock %}
