{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}


{% block content %}

<p>同学们可以通过参与女生节愿望实现（实现愿望）、假日与你（每日打卡）、境像show（提交作品）获得号码券哦~每周获得上限是7张~每张号码券是随机1~21的数字 </p>

<p>幸运开奖中一共有七位开奖数字，每位数字是随机1~21，并且与平台每日浏览量相关哦~</p>
<p>对上两位及以上数字可获得奖励（不计顺序），自己的号码券与开奖数字对上的越多。则奖励越丰厚哦~</p>
<p>开奖后48h内将“我的号码券页面”截图发送至项目组邮箱wokegirls@126.com并备注姓名、学号,待工作人员确认，即可查看奖励结果。</p>

<div class="center-block">
	
	<br>

        <a type="button" class="btn btn-outline-primary" href="{{ url_for('luck') }}">返回幸运开奖</a>
	<br>
</div>
{% endblock %}
