{% extends "base.html" %}
{% block headInsert %}
<style>
body{background:url({{ url_for('static', filename='img/index.jpg') }}) top left;background-size:cover;}
</style>
{% endblock %}
{% block content %}

	<br>
	<a href="{{ url_for('wish') }}" style="width:50%" class="btn btn-primary btn-lg btn-block"> 愿望大厅 </a>
	<p > 我要把天上的星星摘下送给你，照亮你的眼睛~</p>
	<br>

    <br>
	<a href="{{ url_for('holiday') }}" style="width:50%" class="btn btn-primary btn-lg btn-block"> 假日与你 </a>
    <p >我来点亮你的漫漫长假~</p>
	<br>

    <br>
	<a href="{{ url_for('show') }}" style="width:50%" class="btn btn-primary btn-lg btn-block"> 镜像show </a>
    <p >境像show，遇见多姿多彩的你~</p>
	<br>

    <br>
	<a href="{{ url_for('sing') }}" style="width:50%" class="btn btn-primary btn-lg btn-block"> 情歌专场 </a>
    <p >你存在，我的歌声里~</p>
	<br>

    <br>
	<a href="{{ url_for('luck') }}" style="width:50%" class="btn btn-primary btn-lg btn-block"> 幸运开奖 </a>
    <p >今夜，你的幸运之神降临~</p>
	<br>





    <span class="badge badge-pill badge-info">2020 女生节之愿望实现活动交流群:</span>

{% endblock %}
