{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block headInsert %}
<style>
body{background:url({{ url_for('static', filename='img/sing_index.jpg') }}) top left;background-size:cover;}
</style>
{% endblock %}


{% block content %}
    <br>
    <a href="http://jumph.qingfenfa.com/oaiDtEqoV" target="_blank"> http://jumph.qingfenfa.com/oaiDtEqoV</a>
    <br>
    <p>因为本网站不支持微信直接登录，可能直接点击链接无效,且无法直接访问，平台管理员正在思考如何让用户访问更加便利。</p>
    <br>
    <p>请用手机复制链接到微信搜索框中打开，就可以直接点进去投票啦~</p>
    <br>
    <p>点击详情可以倾听到ta们的情歌（真的有好几首贼好听）</p>
    <br>
    <p>每个账户每天都可以投出5票噢~可以每天都为你喜欢的歌手投票噢！</p>
    <br>
    <p>助力ta晋级K-star复赛噢~</p>
    <br>
    <p>项目组将邀请评委进行打分，结合投票人气情况，选出我们专属的蜗壳情歌歌单！！！</p>
    <br>
    <p>嘿嘿嘿~期待ing。”</p>

{% endblock %}
