{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}


{% block content %}
<div class="center-block">
    <p>“我要把天上的星星摘下送给你，照亮你的眼睛——愿望实现”</p>
	{% if sex %}
		<br>
		<a type="button" class="btn btn-outline-primary" href="{{ url_for('boy') }}">领取愿望</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('wishpool') }}">愿望池</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('faq') }}">查看规则</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('index') }}">返回主页</a>
		<br>
	{% else %}
		<br>
		<a type="button" class="btn btn-outline-primary" href="{{ url_for('girl') }}">许下愿望</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('wishpool') }}">愿望池</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('faq') }}">查看规则</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('index') }}">返回主页</a>
		<br>
	{% endif %}
	<br>
</div>
{% endblock %}
