{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block headInsert %}
<style>
body{background:url({{ url_for('static', filename='img/river_index.jpg') }}) top left;background-size:cover;}
</style>
{% endblock %}


{% block content %}

    <p>（1）匹配大致过程一：投放事件瓶——被他人拾取——确定匹配或24h后自动匹配成功该拾取人——匹配七天——到期双方续约则继续二人匹配，不续约则匹配结束；</p>
    <p>（2）匹配大致过程二：投放事件瓶——漂流满24h获得捞瓶资格——前往事件河流拾取事件瓶——等待对方同意匹配或24h未回复则自动匹配该同学——匹配七天——到期双方续约则继续二人匹配，不续约则匹配结束；</p>
    <p>（3）投放事件瓶：大家可以在“投放事件瓶”页面中选择自己一周内每天想要做的事，投放后将漂流在事件河流中，漂流时间开始计时，此期间内可以被他人拾起进行匹配；</p>
    <p>（4）如ta拾取了你的事件瓶，则系统发送确认匹配消息到“我的消息”中；</p>
    <p>a.匹配确认消息一天内若未进行否定，则系统自动设置为匹配成功，联系方式对方可见；</p>
    <p>b.若一天内进行确认，则提前结束漂流，进入匹配成功状态；</p>
    <p>c.若一天内进行否定，则事件瓶放回到事件河流中继续漂流，从原有漂流时间继续计时；</p>
    <p>（5）匹配成功则双方原有捞瓶资格转为失效状态；匹配时长为7天，如倒计时24小时系统自动提示是否续约消息提醒，发送消息至双方消息列表中；</p>
    <p>a.如双方有一方未及时续约，则匹配关系结束，双方事件瓶重新进入事件河流中漂流时间从0计时，需重新漂流满24h失效的捞瓶资格才会重新生效，此时可以更换事件瓶（其他时期也可以）或者撤回事件瓶使之不再漂流；</p>
    <p>b.如双方均进行了续约，则原有匹配关系延续七天</p>
    <p>（7）匹配后每日为对方上传凭证，分享打卡对方将获得随机号码券一张</p>
    <p>（8）捞瓶资格：当前事件瓶漂流总时间达到24h,即可获得捞瓶资格，可前往事件河流拾取事件瓶；每次更新事件瓶，则原有捞瓶资格失效，需重新累计漂流时间，获取资格； 每次匹配成功，则原有捞瓶资格失效，需匹配结束后重新漂流获取；</p>
    <p>（9）蓄水期：当事件河流处于干涸状态时（事件瓶数目少于40个时），自动进入24h的蓄水期，期间不能拾取事件瓶；活动刚开始48h内河流为蓄水期，大家只能向河流中投放事件瓶，而不能进行拾取哦~拾取时间开放将发送系统消息；</p>
    <p>（10）丰水期：河流处于丰水期时持有有效捞瓶资格的同学可前往拾取事件瓶进行匹配；</p>
    <p>（11）如果在活动中遇到了如匹配对方有恶意骚扰、传播不良信息等行为，可通过发送邮件到
            wokegirls@126.com提交凭证进行举报，经查实则结束二人的匹配关系，并禁止被举报对象再次匹配</p>
	    <a type="button" class="btn btn-primary" href="{{ url_for('ThrowBottle') }}">投放事件瓶</a>
        <a type="button" class="btn btn-primary" href="{{ url_for('BottleRiverPick') }}">事件河流</a>
        <a type="button" class="btn btn-primary" href="{{ url_for('shareUp') }}">分享打卡</a>
        <a type="button" class="btn btn-primary" href="{{ url_for('attendance') }}">我的打卡足迹</a>
        <a type="button" class="btn btn-primary" href="{{ url_for('BottleFaq') }}">查看规则</a>
        <a type="button" class="btn btn-primary" href="{{ url_for('index') }}">返回主页</a>
{% endblock %}
