{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}

<div class="center-block">
    <p>我来点亮你的漫漫寒假，陪你走过接下来的七个日子</p>
		{% if userStatus==0 %}
			<br>
			<div class="alert alert-danger" role="alert">
				<h4 class="alert-heading">oh!!!你的用户还处于未激活状态!</h4>
				<p>为了提高活动的真实有趣性，我们需要确认所有的用户都是实名用户。如果你想完整地体验活动，请务必请激活你的账户。</p>
				<hr>
				<p class="mb-0">更多关于激活账户的信息点我查看!<a href="{{ url_for('unconfirmed') }}">点击这里激活账户</a></p>
			</div>
			<br>
		{% endif %}
	{% if riverStatus %}
        <div class="alert alert-primary" role="alert"> 河流处在丰水期，快去拾取事件瓶吧 </div>
    {% else %}
        <div class="alert alert-primary" role="alert"> 距离河流从蓄水期结束倒计时：{{ LeftTime }}小时 </div>
    {% endif %}
        <br>
		<a type="button" class="btn btn-outline-primary" href="{{ url_for('ThrowBottle') }}">投放事件瓶</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('BottleRiver') }}">事件河流</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('shareUp') }}">分享打卡</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('bottleMessage') }}">我的消息</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('attendance') }}">我的打卡足迹</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('BottleFaq') }}">查看规则</a>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('index') }}">返回主页</a>
	<br>
</div>
{% endblock %}
